/**
 * @file
 * Block Styling
*/


.block { /* Block wrapper */

}

.block.first { /* The first block in the region */
}

.block.last { /* The last block in the region */
}

.block.odd { /* Zebra striping for each block in the region */
}

.block.even { /* Zebra striping for each block in the region */
}

h2.block-title { /* Block title */
}

#block-aggregator-category-1 { /* Block for the latest news items in the first category */
}

#block-aggregator-feed-1 { /* Block for the latest news items in the first feed */
}

#block-block-1 { /* First block created with "Add block" link */
}

#block-blog-recent { /* "Recent blog posts" block */
}

#block-book-navigation { /* "Book navigation" block for the current book's table of contents */
}

#block-comment-recent { /* "Recent comments" block */
}

#block-forum-active { /* "Active forum topics" block */
}

#block-forum-new { /* "New forum topics" block */
}

#block-locale-language { /* Language switcher block */
}

#block-menu-menu-NAME { /* Custom menu block */
}

#block-node-recent { /* "Recent content" block */
}

#block-node-syndicate { /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

#block-poll-recent { /* "Most recent poll" block */
}

#block-profile-author-information { /* "Author information" block for the profile of the page's author */
}

#block-search-form { /* "Search form" block */
}

#block-shortcut-shortcuts { /* "Shortcuts" block */
}

#block-statistics-popular { /* "Popular content" block */
}

#block-system-main-menu { /* "Main menu" block */
}

#block-system-management { /* "Management" block for Drupal management menu */
}

#block-system-navigation { /* "Navigation" block for Drupal navigation menu */
}

#block-system-user-menu { /* "User menu" block for Drupal user menu */
}

#block-system-help { /* "System help" block */
}

#block-system-main { /* "Main page content" block */
}

#block-system-powered-by { /* "Powered by Drupal" block */
}

#block-user-login { /* "User login form" block */
}

#block-user-new { /* "Who's new" block for a list of the newest users */
}

#block-user-online { /* "Who's online" block for a list of the online users */
}

#block-block-16 h2, #block-block-17 h2,
#block-block-1 h2, #block-block-2 h2{
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    color: #6a6868;
    line-height: 1.3em;
}

#block-block-16 a, #block-block-17 a,
#block-block-1 a, #block-block-2 a{
    color: #6a6868;
    text-decoration: none;
}

#block-block-16 a:hover, #block-block-17 a:hover,
#block-block-1 a:hover, #block-block-2 a:hover{
    color: #6a6868;
    text-decoration: underline;
}

#block-block-16, #block-block-17,
#block-block-1, #block-block-2{
    float: right;
    height: 62px;
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 100px;
    padding-top: 20px;
    text-align: right;
    margin-top: -80px;
}

#block-technical-technical-block-output{
    float: right;
    width: 350px;
    padding-top: 20px;
    height: 62px;
    margin-top: -80px;
    padding-left: 20px;
    margin-left: 20px;
    line-height: 1.1em;
}

#block-technical-technical-block-output table{
    margin: 0;
    font-size: 0.9em;
    width: 350px;
}

#block-technical-technical-block-output table td{
    vertical-align: top;
}

#block-technical-technical-block-output table td.date{
    color: #a1a0a0;
    font-style: italic;
    font-size: 0.9em;
}

#block-technical-technical-block-output table td.rate span{
    display: block;
    font-weight: bold;
    margin-bottom: 0.25em;
}

#block-technical-technical-block-output table td.construction_time span{
    display: block;
    font-weight: bold;
    margin-bottom: 0.25em;
}
#block-technical-technical-block-output table td.rate{
    width: 125px;
}
#block-technical-technical-block-output table td.construction_time{
    width: 150px;
    text-align: right;
}

#block-technical-technical-block-output table td.how-long{
    vertical-align: top;
    padding-top: 0.35em;
    padding-left: 0.25em;
    font-weight: bold;
    font-size: 1.6em;
    width: 50px;
    text-align: left;
    color: #C5473E;
}

#block-block-17,
#block-block-1{
    width: 104px;
    background-image: url("../images/econom.png");

}

#block-block-16,
#block-block-2{
    width: 174px;
    background-image: url("../images/dealer.png");
    margin-left: 2em;
    margin-right: 1em;
}

/*
Bottom menu style
*/

#block-block-25, #block-block-29,
#block-block-4, #block-block-15{
    margin-left: 1.5em;
    margin-top: 1em;
}

#block-block-26,
#block-block-14{
    margin-left: 1.5em;
}

#block-block-25 p#copyright-line, #block-block-29 p#copyright-line,
#block-block-4 p#copyright-line, #block-block-15 p#copyright-line{
    margin-top: 0;

}

#block-block-25 .adress-block h3, #block-block-29 .adress-block h3,
#block-block-4 .adress-block h3, #block-block-15 .adress-block h3{
    font-size: 1em;
    font-weight: normal;

}

#block-block-25 .adress-block, #block-block-29 .adress-block,
#block-block-4 .adress-block, #block-block-15 .adress-block{
    overflow: hidden;
}

#block-block-25 .str, #block-block-25 .e-mail, #block-block-29 .str, #block-block-29 .e-mail,
#block-block-4 .str, #block-block-4 .e-mail, #block-block-15 .str, #block-block-15 .e-mail{
    float: left;
}

#block-block-25 .e-mail, #block-block-29 .e-mail,
#block-block-4 .e-mail, #block-block-15 .e-mail{
    margin-left: 5em;
}

#block-block-25 .e-mail a, #block-block-29 .e-mail a,
#block-block-4 .e-mail a, #block-block-15 .e-mail a{
    color: #4F86C5;
}


/*
Social buttons
*/

#block-block-3 img{
    float: right;
    margin-right: 1em;

}

#block-locale-language{
    position: absolute;
    right: 5px;
}

#block-locale-language li{
    float: right;
    list-style: none;
    margin-left: 10px;
    margin-top: 0.5em;
}

/*
Bottom menu style
*/

#block-menu-menu-bottom-menu{
    padding-left: 2em;
    padding-top: 1em;
    font-size: 0.9em;
	text-align: center;
	display: inline-block;
}

#block-menu-menu-bottom-menu ul li{
    float: left;
    list-style-image: url('../images/sqr.png');
    max-width: 250px;
    margin-right: 2.2em;
    height: 48px;
    text-align: center;
}
#block-menu-menu-bottom-menu li.m635,
#block-menu-menu-bottom-menu li.m639, #block-menu-menu-bottom-menu li.m638,
#block-menu-menu-bottom-menu li.m267, #block-menu-menu-bottom-menu li.m266,
#block-menu-menu-bottom-menu li.m262, #block-menu-menu-bottom-menu li.m263{
    width: 105px;
}

#block-menu-menu-bottom-menu li.m636,
#block-menu-menu-bottom-menu li.m264{
    width: 140px;
}

#block-menu-menu-bottom-menu li.m637,
#block-menu-menu-bottom-menu li.m265{
    width: 210px;
}

#block-menu-menu-bottom-menu li.m634.last,
#block-menu-menu-bottom-menu li.m262.last{
    margin-right:0;
}



#block-menu-menu-bottom-menu a{
    color: #4f86c5;

}


/*
Bottom menu style
*/
.region-dealer-block{
    background-color: #e7ebf0;
    padding: 1.5em;
    overflow: hidden;
    font-size: 0.9em;
    line-height: normal;
    color: #8c8e90;
}

.region-dealer-block a{
    color: #749bc8;
}

.region-dealer-block a .red{
    color: #cd4436;
}

.region-dealer-block .block{
    float: left;
    width: 282px;
    background-color: white;
    border-radius: 6px;
    padding: 0.5em;
    height: 308px;
}

.region-dealer-block .block p{
    margin-top: 0;
}

.region-dealer-block .header{
    margin-top: 0.5em;
    text-align: center;
}

.region-dealer-block .container img{
    float: left;
    padding: 0 1em 1em 1em;
}

.region-dealer-block .container .text{
    margin-left: 125px;
}

#block-block-20,
#block-block-6{
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.region-dealer-block li{
    list-style: none;
}


/*
    News block
*/

#block-views-news-block-1{
    margin-top: 4em;
    margin-bottom: 4em;
    color:#939393;

}

#block-views-news-block-1 .block-title{
    margin-right: 2em;
    margin-bottom: 1em;
    border-bottom: 7px solid #f1f4f8; 
}

#block-views-news-block-1  .view-content{
    overflow: hidden;
}
#block-views-news-block-1  .view-id-news .views-row{
    width: 290px;
    float: left;
}

#block-views-news-block-1  .view-id-news .views-field-title{
    margin-top: 0.75em;
}

#block-views-news-block-1  .view-id-news .views-field-title a{
    color:#4f86c5;
    text-decoration: none;
    font-size: 1.3em;
}

#block-views-news-block-1  .view-id-news .views-field-title a:hover{
    text-decoration: underline;
}

#block-views-news-block-1  .view-id-news .views-row .views-field-title,
#block-views-news-block-1  .view-id-news .views-row .views-field-body
{
    margin-right: 10%;
}


/*Promo block on news page*/

#block-block-30,
#block-block-8{
    margin-top: 8em;
    margin-bottom: 4em;

}

/* Back button*/

#block-block-27,
#block-block-9{
    margin-top: 2em;
}

#block-block-27 .back-to-news,
#block-block-9 .back-to-news{
    font-size: 1.3em;
    font-weight: bold;
    color: #4f86c5;
    background-image: url('../images/news-arrow.png');
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 1.5em;
}



/* back- button*/
#block-block-21, #block-block-22, #block-block-23,
#block-block-11, #block-block-12, #block-block-13{
    background-color: #FFF;
    border-radius: 13px;
    line-height: 60px;
    font-size: 1.3em;
    padding-left: 1.5em;
    color: #98b4d9;
    margin-bottom: 1em;
}
#block-block-21 a, #block-block-22 a, #block-block-23 a,
#block-block-11 a, #block-block-12 a, #block-block-13 a{
    color: #98b4d9;
    text-decoration: none;
}



/* Product menu style*/

#block-menu-menu-production{
    margin: 0 2.5em;
}

#block-menu-menu-production .menu{
    overflow: hidden;
}
#block-menu-menu-production .menu li{
    float: left;
    height: 74px;
    width: 170px;
    border-radius: 18px 18px 0 0;
    padding: 1em 1em 0 1em;
}

#block-menu-menu-production .menu li.active-trail{
    background-color: #D0DFF0;
}

#block-menu-menu-production .menu li a{
    background-repeat: no-repeat;
    background-position: center center;
    height: 74px;
    width: 170px;
    display: block;
    border-radius: 13px 13px 0 0;
    background-color: #FFF;
}

#block-menu-menu-production .menu li.m650 a,
#block-menu-menu-production .menu li.m329 a{
    background-image: url('../images/prod_rehau.png');
    text-indent: -9999px;
}

#block-menu-menu-production .menu li.m651 a,
#block-menu-menu-production .menu li.m330 a{
    background-image: url('../images/prod_wink.png');
    text-indent: -9999px;
}

#block-menu-menu-production .menu li.m652,
#block-menu-menu-production .menu li.m331{
    width: 190px;
}

#block-menu-menu-production .menu li.m652 a,
#block-menu-menu-production .menu li.m331 a{
    background-image: url('../images/prod_glas.png');
    text-indent: -9999px;
    width: 190px;
}

#block-menu-menu-production .menu li.m653,
#block-menu-menu-production .menu li.m332{
    width: 170px;
}

#block-menu-menu-production .menu li.m653 a,
#block-menu-menu-production .menu li.m332 a{
    background-image: url('../images/color.png');
    background-position: center right;
    width: 100px;
    height: 56px;
    text-decoration: none;
    color: #6A6868;
    padding: 18px 70px 0 0;
    text-align: right;
}

/* Product menu style & white container*/ 

#block-menu-menu-prof-rehau{
    background-color: #FFFFFF;
    border-radius: 13px 13px 13px 13px;
    padding: 2em 1.5em 1.5em;
    margin-top: 1em;
}





/* Product menu style */ 

#block-menu-menu-prof-rehau .menu li{
    margin-bottom: 0.5em;
}
#block-menu-menu-prof-rehau .menu li a{
    color: #98b4d9;
    font-size: 1.4em;
    text-decoration: none;
}

#block-menu-menu-prof-rehau .menu li a.active{
    color: #CCC;
}


/* Sertificates block style */ 
.section-certification .block-views,
.section-certification #block-block-10,
.section-certification #block-block-24
{
    color: #939393;

}

.section-certification .block-views
{
    margin-top: 3.5em;    
}

.section-certification .block-views .block-title
{
    color: #4F86C5;
    line-height: 1.3em;
}

.section-certification #block-block-24,
.section-certification #block-block-10{
    width: 70%;
}

.section-certification .block-views .view-content{
    border-top: 4px solid #f9e9e7;
    margin-top: 1em;
    padding-top: 0.5em;
    width: 90%;
    overflow: hidden;
}

.section-certification .block-views .view-content .views-row{
    float: left;
    margin-right: 0.5em;
    box-shadow: 3px 3px 5px #CCC;
}

.section-dealeren .field-name-body .field-item,
.section-dealer .field-name-body .field-item{
    position: relative;
}

.section-dealeren .promo_block,
.section-dealer .promo_block{
    position: absolute;
    bottom: -50px;
    right: 50px;
}

/*
*  Dealer find
*/

#block-dealer-dealer-block-output{
    margin-top: 1em;
    overflow: hidden;
    min-height: 350px;
    margin-bottom: 8em;
}

#block-dealer-dealer-block-output .block-title{
    float: left;
    font-size: 1.2em;
    width: 130px;
    line-height: 1.3em;
    color: #4F86C5;
    margin-right: 2em;
}
#block-dealer-dealer-block-output .chooser{
    color: #4F86C5;
    font-size: 0.8em;
    color: #939393;
    background-image: url('../images/row_bg.png');
    background-repeat: repeat-x;
    background-position: bottom;
    padding-bottom: 1em;
    margin-bottom: 4em;
}

#block-dealer-dealer-block-output select{
    display: block;
    font-size: 1.3em;
    width: 270px;
    border: thin solid #4F86C5;
    margin-top: 0.25em;
}

#block-dealer-dealer-block-output .content{
    clear: left;
    border-top: thin dotted #4F86C5;
    padding-top: 2em;
}

#block-dealer-dealer-block-output .contact_container{
    font-size: 0.9em;
}

#block-dealer-dealer-block-output .contact_container h2,
#block-dealer-dealer-block-output .contact_container h3{
    margin-bottom: 0.25em;
}

#block-dealer-dealer-block-output .contact_container p{
    margin-top: 0em;
}

/* add maylove.in.ua */

@media only screen and (max-witch:999px) {
	#block-locale-language {
		z-index: 999999;
	}
}

@media only screen and (max-width: 815px) {
	#block-menu-menu-production .menu li.active-trail{
		background-color: rgba(255, 255, 255, 0.5);
	}
	#block-menu-menu-production {
		margin: auto;
		width: 50%
	}
	#block-block-20,
	#block-block-6 {
		margin: auto;
	}
	.region-dealer-block .block {
		width: auto;
		margin: 10px auto 10px auto;
	}
	.region-dealer-block .block {
		height: auto;
		width: 100%;	
	}
	.view-id-news .views-row {
		margin-bottom: 20px;
	}
	.region-dealer-block {
		padding: 0.3em auto 0.3em auto;
	}
	#block-locale-language {
		z-index: 999999;
	}
	#block-block-16, #block-block-2 {
		margin-right: 0;
	}
	#block-block-16 h2, #block-block-17 h2, #block-block-1 h2, #block-block-2 h2 {
		  margin-top: 10px;
	}
	#block-block-16, #block-block-2 {
		margin-right: 0;
	}
	#block-block-16, #block-block-17, #block-block-1, #block-block-2 {
		margin-top: 0;
		padding-top: 0;
		margin-bottom: 10px;
	}
	#block-technical-technical-block-output table {
		display: none;	
	}
}

@media only screen and (max-width: 600px) {
	#block-menu-menu-bottom-menu li.m265 {
		width: 300px;
}
	#block-menu-menu-bottom-menu ul li {
		float: none;
		text-align:left;
	}
	.section-certification #block-block-24,
	.section-certification #block-block-10 {
		width: 100%;
	}
	#block-block-30,
	#block-block-8 {
		margin-top: 0;
	}
	#block-views-news-block-1  .view-content {
		width: 80%;
		margin: auto;
	}
	#block-views-news-block-1 .block-title {
		margin-right: 0;
	}
	.views-row-2 {
		margin-bottom: 10px;
	}
/*
	.views-row {
		margin-bottom: 10px;
	}
*/
	#stamp {
		width: 30%;
	}
	#block-views-news-block-1 {
		margin-top: 0;
	}
	.region-dealer-block .block {
		height: auto;
	}
	.region-dealer-block .container .text {
		margin-bottom: 20px;
	}
	.section-dealeren .promo_block, .section-dealer .promo_block {
		position: relative;
		bottom: auto;
		right: auto;
	}
	.section-dealeren .field-name-body .field-item, .section-dealer .field-name-body .field-item {
		margin-left: 10px;
	}
	#block-block-25 .e-mail, #block-block-29 .e-mail, #block-block-4 .e-mail, #block-block-15 .e-mail {
		margin-left: auto;
	}
	#block-block-25 .str, #block-block-25 .e-mail, #block-block-29 .str, #block-block-29 .e-mail, #block-block-4 .str, #block-block-4 .e-mail, #block-block-15 .str, #block-block-15 .e-mail {
		float: none;
	}
	.views-row-2 {
		margin-bottom: 10px;
	}
	#block-block-16, #block-block-17, #block-block-1, #block-block-2 {
		margin-bottom: 0px;
	}
}