/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
*/


.node { /* Node wrapper */
}

.preview .node { /* Preview of the content before submitting new or updated content */
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
}

.node .node-title { /* Node title */
}

.node .user-picture { /* The picture of the node author */
}

.node .submitted { /* The "posted by" information */
}

.node .content { /* Node's content wrapper */
}

.node ul.links { /* Node links. See also the ul.links declaration in the pages.css. */
}

.node-promoted { /* A node that has been promoted to the front page */
}

.node-sticky { /* A sticky node (displayed before others in a list) */
}

.node-by-viewer { /* A node created by the current user */
}

.node-teaser { /* A node displayed as teaser */
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
*/

.node-page { /* Page content node */
}

.node-article { /* Article content node */
}

.node-unpublished { /* Unpublished nodes */
    /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
}

.node-unpublished p.unpublished,
.comment-unpublished p.unpublished { /* The word "Unpublished" displayed underneath the content. */
    height: 0;
    overflow: visible;
    color: #d8d8d8;
    font-size: 75px;
    line-height: 1;
    font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    word-wrap: break-word; /* A very nice CSS3 property */
}

.lt-ie8 .node-unpublished p.unpublished > *,
.lt-ie8 .comment-unpublished > * {
    position: relative; /* Otherwise these elements will appear below the "Unpublished" text. */
}



/* News type image float */

.node-type-news .news-left{
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1em;
    background-color: #e9eef3;

}

.node-type-news .news-left span{
    display: block;
    padding: 0 0.5em 0.5em 0.5em;
}





/* Prodaction pages style */

/* Intro */
.intro-text{
    margin: 0 3.7em;
    margin-bottom: 4em;
}

.intro-text h1#page-title{
    margin-bottom: 0;
}

.intro-text p{
    margin-top: 1em;
    width: 70%;
    font-size: 1.1em;
    color: #939393;
}

.intro-text .econom-button{
	position: absolute;
    float: right;
    margin-right: 2.5em;
}

.intro-text .econom-button a{
    background-image: url("../images/econom.png");
    width: 104px;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 35%;
    height: 62px;
    padding-right: 70px;
    text-align: right;
    display: block;
    padding-top: 2em;
    text-decoration: none;
    line-height: 1.2em;
    color: #6a6868;  
    display: none;
}

/* Container style */
.node-type-windows-doors #main {
    margin: 0 2em;
    color: #939393;
}

.node-type-windows-doors #main .container-wrap{
    background-color: #d0dff0;
    border-radius: 23px;
    padding: 1em;
}

.node-type-windows-doors #main article .product_block{
    background-color: #FFF;
    border-radius: 13px;
    padding: 2em 1.5em 1.5em 1.5em;
    overflow: hidden;
}

.node-type-windows-doors #main article .product_block.middle{
    margin: 1em 0;
}

.node-type-windows-doors #main article .product_block.winkhaus{
    margin-bottom: 1em;
    min-height: 410px;
}

.node-type-windows-doors #main article img{
    position: absolute;
}

.page-node-18.node-type-windows-doors #main article img{
    margin-top: 6px;
}

.node-type-windows-doors #main article .text-description{
    margin-left: 295px;
}

.node-type-windows-doors #main article .text-description .glass-promo{
    float: right;
    padding: 5px;
    padding-left: 55px;
    margin-right: 1em;
    background-image: url('../images/arrow.gif');
    background-repeat: no-repeat;
    color: #c5473e;
}

.node-type-windows-doors #main article .activpilot_full .text-description{
    margin-left: 0;
}

.node-type-windows-doors #main article .activpilot_full.description .text-description{
    margin-left: 220px;
}

.node-type-windows-doors #main article .text-description h2.title{
    color: #4f86c5;
}

.node-type-windows-doors #main article .text-description .post-title{
    margin-top: -0.5em;
    font-size: 0.7em;
    font-style: italic;
}

.node-type-windows-doors #main article .text-description h3{
    font-size: 1.1em;
    color: #cd4538;
    margin-bottom: 0;
    margin-top: 3em;
    padding-bottom: 1em;
    background-image: url('../images/prod_bg.png');
    background-position: bottom left;
    background-repeat: repeat-x;
}

.node-type-windows-doors #main article .text-description h3.description,
.node-type-windows-doors #main article .text-description .post-title-text{
    color: #4f86c5;
}

.node-type-windows-doors #main article .text-description ul li{
    list-style: none;
    font-size: 0.8em;
    margin-top: 1em;
    line-height: normal;
    list-style-image: url("../images/sqr-list.png");
}

.node-type-windows-doors #main article .geneo .text-description ul li{
    list-style-image: url('../images/sqr-list.png');
}

.node-type-windows-doors #main article .button{
    float: right;
    padding: 0.5em 0.75em;
    margin-top: 0.75em;
    font-style: italic;
    color: #cd4538;
    background-color: #cd4538;
    border-radius: 5px;
}

.node-type-windows-doors #main article .button a{
    color: white;
    text-decoration: none;
    padding: 0.4em 0.55em;
    padding-left: 1.5em;
    background-image: url('../images/arrow-news-button.png');
    background-repeat: no-repeat;
    background-position: left center;
}

/* Page winkhause */
.node-type-windows-doors #main article .text-description dl{
    margin-top: 0.5em;

}

.node-type-windows-doors #main article .text-description dl dt{
    font-weight: bold;
    color: #4F86C5;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.node-type-windows-doors #main article .text-description dl dd{
    font-size: 0.8em;
    margin-bottom: 1.5em;
    margin-left: 0;
    line-height: normal;
}

.node-type-windows-doors #main article .activpilot_full{
    margin:0;
    background-image: url('../images/row_bg.png');
    background-position: left 10px; 
    background-repeat: repeat-x;
    padding-top: 3em;
}

.node-type-windows-doors #main article .activpilot_full.product_block .text-description h2.title{
    line-height: 1.2em;
    margin-bottom: 0.25em;
    padding-top: 1em;
}

.node-type-windows-doors #main article #activpilot.activpilot_full.first{
    margin-bottom: 0;
    padding-left: 3em;
    padding-top: 1em;
}

.node-type-windows-doors #main article .activpilot_full.first{
    margin-top: 0;
    padding-top: 0;
    background-image: none;
}

.node-type-windows-doors #main article .activpilot_full.description p{
    margin: 0 0 1.5em 0;
    width: 70%;    
}


.node-type-windows-doors #main article .activpilot_full.description .container{
    overflow: hidden;
}

.node-type-windows-doors #main article .activpilot_full.description h2.title{
    font-size: 1em;
    color: #4f86c5;
}

.node-type-windows-doors #main article .activpilot_full.description .container img{
    position: static;
}

.node-type-windows-doors #main article .activpilot_full.description .container div.img{
    float: left;
}

.node-type-windows-doors #main article .activpilot_full.description .text-description{
    width: 60%;
}

.node-type-windows-doors #main article .activpilot_full.description .text-description li{
    margin-top: 0em;
    list-style-image: url('../images/plus.png');
    margin-left: 0.5em;
}


.node-type-windows-doors #main article .activpilot_full.description .text-description h3.title{
    margin-top: 0;
    font-size: 0.8em;
    color: #4f86c5;
    background-image: none;
}

.node-type-windows-doors #main article .activpilot_full .intro img{
    position: static;
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1em;

}

/* Page glasstoesh */



#glastroesch .intro{
    overflow: hidden;
}


#glastroesch .legend-list{
    margin-top: 2em;
    padding-bottom: 1em;
    background-image: url("../images/prod_bg.png");
    background-repeat: repeat-x;
    background-position: left bottom;
}

#glastroesch .legend-list h3{
    font-size: 1em;
    padding-bottom: 1em;
    background-image: url("../images/prod_bg.png");
    background-repeat: repeat-x;
    background-position: left bottom;
    color: #acc3dd;
}
#glastroesch .legend-list h3.alert{
    font-size: 1em;
    background-image: none;
    color: #df3b3b;
    padding-bottom: 0;
    margin-bottom: 0;
}

#glastroesch .legend-list p.alert-text{
    margin-top: 0.5em;
    font-size: 1em;
}


#glastroesch .legend-list table{
    font-size: 0.8em;
    line-height: normal;
}

#glastroesch .legend-list table td{
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 50px;
    padding-bottom: 0.5em; 
    padding-top: 0.5em;
}
#glastroesch .legend-list table td.spo{
    background-image:  url("../images/spo_m.png");
    width: 150px;
}
#glastroesch .legend-list table td.rq{
    background-image:  url("../images/rq-m.png");
    width: 350px;
}
#glastroesch .legend-list table td.spd{
    background-image:  url("../images/spd-m.png");
}
#glastroesch .legend-list table td.rg{
    background-image:  url("../images/r-m.png");
}
#glastroesch .legend-list table td.temp{
    background-image:  url("../images/temp-m.png");
}

/*  Products list  */
#glastroesch h3.product-title{
    margin-bottom: 0.3em;
    font-size: 1.6em;
    color: #98b4d9;
    font-weight: normal;
    margin-left: 0.75em;
    margin-top: 2em;
}

#glastroesch table.products img{
    position: static;
}

#glastroesch table td{
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 90px;
    padding-bottom: 0.5em; 
    padding-top: 0.5em;
    font-size: 1.3em;
}

#glastroesch table.products{
    border-radius: 13px;
    box-shadow: 1px 3px 8px #CCC; 
    margin-left: 0.75em;
    margin-top: 0;
}

#glastroesch table.products td.img{
    padding-left: 10px;
}

#glastroesch table.products td.rq{
    background-image:  url("../images/rq.png");
    height: 65px;
}

#glastroesch table.products td.R, #glastroesch table.products td.rq{
    width: 180px;
}

#glastroesch table.products td.temp-winter{
    background-image:  url("../images/temp-win.png");
}

#glastroesch table.products td.delta1{
    padding-left: 40px;
    padding-right: 1em;
}

#glastroesch table.products td.R{
    background-image:  url("../images/r.png");
}

#glastroesch table.products td.temp-summer{
    background-image:  url("../images/temp-sum.png");
}

#glastroesch table.products td.delta2{
    padding-left: 40px;
    padding-right: 1em;
}

#glastroesch sup.star{
    color: red;
}

/*         Color page      */

.node-type-windows-doors #main article #profile-color img{
    position: static;
    margin-right: 3em;
}

.node-type-windows-doors #main article #profile-color div.intro{
    overflow: hidden;
}
.node-type-windows-doors #main article #profile-color h3{
    margin-bottom: 0.5em;
    color: #4f86c5;
}

.node-type-windows-doors #main article #profile-color .second-color{
    border-top: 12px solid #ebf2f9;
    margin-top: 50px;
    padding-top: 60px;

}

.node-type-windows-doors #main article #profile-color .heder-text{
    color: #4f86c5;
    font-weight: bold;
}
.node-type-windows-doors #main article #profile-color .color_boxes{
    margin-bottom: 4em;
}
.node-type-windows-doors #main article #profile-color div.intro p{
    margin-top:0;
    margin-bottom: 0.5em;
    font-size: 1em;
}


.node-type-windows-doors #main article #profile-color.activpilot_full.product_block  h2.title{
    margin-bottom: 1em;
}




/*         Dealer page      */
.not-front.section-dealeren .node p.intro,
.not-front.section-dealer .node p.intro{
    width: 85%;
}
.not-front.section-dealeren .node ul li,
.not-front.section-dealer .node ul li{
    list-style-image: url("../images/triangle.png");
    margin-left: 2.5em;
}
.not-front.section-dealeren .node h3,
.not-front.section-dealer .node h3{
    font-size: 1em;
    font-weight: 600;
    color: #4F86C5;
    margin-top: 4.5em
}
.not-front.section-dealeren .node .email.link,
.not-front.section-dealer .node .email.link{
    margin-top: 0.5em;
    margin-left: 1em;
}

.not-front.section-dealeren .node ul.telephones li,
.not-front.section-dealer .node ul.telephones li{
    list-style: none;
    margin-left: 1em;
}

/*
Dealer block
*/

.dealer_item td.header{
    padding: 0.25em 1.5em 0.25em 0;
    font-weight: bold;
    color: #6a6868;
    border-right: solid thin #e9e9e9;
}

.dealer_item td.data{
    font-size:1.2em;
    padding-left: 1.5em;
}


/*
*
*   Node-construction-full-view 
*
*/

.node-type-construction-full-view .field-name-field-sub-title{
    margin-bottom: 1em;
    font-size: 1.6em;
}

.node-type-construction-full-view .field-name-field-gallery-photos{
    margin-top: 1em;
}

.node-type-construction-full-view .field-name-field-gallery-photos{

}

.node-type-construction-full-view .field-name-field-gallery-photos .field-item{
    float: left;
    margin: 5px;
}

.node-type-construction-full-view .field-name-field-gallery-photos .field-item img{
    border: 5px solid white;
    box-shadow: 1px 5px 15px #d7d7d7;
}

/* add b@maylove.in.ua */

@media only screen and (max-width: 800px) {
	.node-type-windows-doors #main article img {
		position:relative;
}
	.node-type-windows-doors #main article .text-description {
		margin: auto;
	}
	.node-type-windows-doors #main article .text-description ul li {
		font-size: 0.9em;
	}
	.node-type-windows-doors #main article .text-description dl dd {
		font-size: 0.9em;
	}
	.node-type-windows-doors #main article img {
		width: 100%;
		margin-left: 50%;
		right: 50%;
	}
	.node-type-windows-doors #main article #profile-color img {
		position: relative;
	}
	.node-type-windows-doors #main article .activpilot_full.description .container img {
		position: relative;
	}
	.node-type-windows-doors #main article .activpilot_full .intro img {
		position: relative;
	}
	.node-type-windows-doors #main article .activpilot_full.description .text-description {
		width: 50%;
	}
}

@media only screen and (max-width: 600px) {
	.intro-text p {
		margin: 10px 0px 0px 0px;
		width: 100%;
	}
	.node-type-windows-doors #main {
		margin: 0;
		}
	.not-front.section-dealeren .node h3,
	.not-front.section-dealer .node h3 {
		margin-top: auto;
	}
	.partnership {
		margin-bottom: 10px;
	}
	.node-type-windows-doors #main article .activpilot_full.description .text-description {
		margin-left: 0;
		width: 100%;
	}
	.node-type-windows-doors #main article .activpilot_full.description .container div.img {
		float: none;
	}
}

table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
/*
	Label the data

	td:nth-of-type(1):before { content: "First Name"; }
	td:nth-of-type(2):before { content: "Last Name"; }
	td:nth-of-type(3):before { content: "Job Title"; }
	td:nth-of-type(4):before { content: "Favorite Color"; }
	td:nth-of-type(5):before { content: "Wars of Trek?"; }
	td:nth-of-type(6):before { content: "Porn Name"; }
	td:nth-of-type(7):before { content: "Date of Birth"; }
	td:nth-of-type(8):before { content: "Dream Vacation City"; }
	td:nth-of-type(9):before { content: "GPA"; }
	td:nth-of-type(10):before { content: "Arbitrary Data"; }
}
*/