/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
*/


/*
 * Body
*/

body {
    margin: 0;
    padding: 0;
    background-image: url('../images/bg1l.jpg'),url('../images/bg1r.jpg'),url('../images/bg.png');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 1px 170px, 900px 170px,  left top;
}

#page {
    box-shadow: 0px 0px 25px #505f7f;
    background-color: white;
    margin-bottom: 2em;
    position: relative;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
*/

#skip-link {
    margin: 0;
}
#skip-link a,
#skip-link a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
}

/*
 * Header
*/

#header {
    height: 146px;
}

#logo { /* Wrapping link for logo */
    float: left; /* LTR */
    margin: 0;
    padding: 0;
}
#logo img {
    vertical-align: bottom;
}

#name-and-slogan { /* Wrapper for website name and slogan */
    float: left;
}

#site-name { /* The name of the website */
    margin: 0;
    font-size: 2em;
    line-height: 1.5em;
}
#site-name a:link,
#site-name a:visited {
    color: #000;
    text-decoration: none;
}
#site-name a:hover,
#site-name a:focus {
    text-decoration: underline;
}

#site-slogan { /* The slogan (or tagline) of a website */
    margin: 0;
    font-size: 1em;
}

.region-header { /* Wrapper for any blocks placed in the header region */
    clear: both; /* Clear the logo */
}

/*
 * Main (container for everything else)
*/

/*
 * Content
*/

#content {
    margin-left: 4em;
    min-height: 300px;
    margin-bottom: 6em;
}

.not-front.node-type-windows-doors  #content{
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 6em;
}


.not-front #content article{
    color: #939393;
    margin-bottom: 2.5em;
}

.not-front.node-type-windows-doors  #content article, .not-front.node-type-windows-doors  #content article #glastroesch{
    margin-bottom: 0;
}


.not-front #content article .field-name-field-date{
    font-size: 1.2em;
    font-style: italic;
}

#image_slider{
    text-align: center;
    margin-top: 0.5em;
    margin-left: 10px;
    margin-right:10px;
    position: relative;
	width: 940px;
    height: 433px;
}

#image_slider{
    background-color: #4677b0;
    padding-bottom: 10px;
    border-bottom: 33px solid #5288c6;
}

#image_slider .front-text{
    position: absolute;
    width: 380px;
    height: 121px;
    z-index: 2;
    color: white;
    text-align: left;
    background-color: #4f86c5;
    opacity:0.89;
    padding: 1em 2em;
    bottom: 30px;
    right: 30px;
}

#image_slider .front-text .img_left{
    text-align: right;
    margin-right: -30px;
    margin-top: -10px;
}

#image_slider .front-text h2,
#image_slider .front-text p
{
    opacity:0.99;
    color: white;
    margin: 0;
}

#image_slider .front-text h2
{
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 0.5em;
}

#images-slides{
    z-index: 1;
}

#images-slides > img{
    width: 940px;
    height: 433px;
}

#nav{
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 999;
}

#nav .thumbnail-item{
    float: left;
}

#nav .thumbnail-item img{
    border: thin solid white;
    margin-right:0.5em;
}

#dealer_block .header-intro{
    margin-left: 4em;
}

#dealer_block .header-intro h2, #block-views-news-block-1 h2{
    color: #4f86c5;
    margin-bottom: 0;
    font-size: 2em;
}

#dealer_block .header-intro p{
    color: #8c8e90;
    margin-top: 0;
    max-width: 65%;
}

.region-highlighted {
}

.breadcrumb { /* The path to the current page in the form of a list of links */
    margin-top: 1em;
    font-size: 1.2em;
}

.breadcrumb a{
    color: #4F86C5;
}

.breadcrumb ol {
    margin: 0;
    padding: 0;
}
.breadcrumb li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
    margin: 0;
}

h1.title{
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    margin-right: 2em;
}

.node-type-news h1.title, .page-news h1.title{
    margin-right: 0;
}

.node-type-windows-doors h1.title{
    margin-right: 7.5em;
}





tr.even { /* Some tables have rows marked even or odd. */
    /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
    /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
    margin: 1.5em 0; /* Drupal core uses "6px 0" margin */
}
div.messages ul {
    margin-top: 0;
    margin-bottom: 0;
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
    /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
    /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
    /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
    display: inline;
    padding: 0;
}
ul.inline li {
    display: inline;
    list-style-type: none;
}

span.field-label { /* The inline field label used by the Fences module */
    padding: 0 1em 0 0; /* LTR */
}

.view .item-list{
    text-align: center;

}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
    padding: 1em 0.7em;
    display: inline;
    background-color: #dee9f4;
    border-radius: 6px;
}

.item-list .pager .pager-current {
    color: white;
}

.item-list .pager a{
    color: #5288c6;
}

.item-list .pager li { /* Each page number in the pager list */
    padding: 0 0.5em;
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
*/

.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
*/

.region-sidebar-second {
}

/*
 * Footer
*/

#footer{
    background-color: #e9eef3;
    height: 84px;
    border-bottom: 23px solid #4f86c5;
}

.region-postfooter{
    height: 60px;
    color: #393939;
    font-size: 0.9em;
}

.section-dealeren .region-postfooter,
.section-dealer .region-postfooter{
    height: 114px;
}

/*
 * Page bottom
*/

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}

/*Page views nwes style*/

.view-page-of-news .views-row{
    position: relative;
    background-image: url('../images/row_bg.png');
    background-position: bottom left;
    background-repeat: repeat-x;
    padding-bottom: 1.5em;
    margin-bottom: 2.5em;
}

.view-page-of-news .views-row .views-field-field-promoimage{
    position: absolute;
}

.view-page-of-news .views-row .views-field-title,
.view-page-of-news .views-row .views-field-field-date,
.view-page-of-news .views-row .views-field-body{
    margin-left: 140px;
}

.view-page-of-news .views-row .views-field-view-node{
    text-align: right;
}

.view-page-of-news .views-row .views-field-view-node a{
    background-image: url('../images/arrow-news.png');
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 1.5em;
    font-size: 0.9em;
    color: #4f86c5;
}

.view-page-of-news .views-row .views-field-title a{
    font-size: 1.3em;
    text-decoration: none;
    color: #4f86c5;
}

.view-page-of-news .views-row .views-field-field-date{
    font-size: 0.8em;
    color: #b0b0b0;
    font-style: italic;
    margin-top: 0.75em;
}

.view-page-of-news .views-row .views-field-body{
    color: #939393;
}


/*            Page constructions        */

.not-front.page-constructions  #page-title{
    padding-right: 30%;
    border-bottom: 7px solid #f5f8fa;
    padding-bottom: 0.75em;
    margin-bottom: 0.25em;
}

.not-front.page-constructions{
    color: #939393;   
}

.not-front.page-constructions .view-page-of-constructions .view-header p{
    width: 70%;
    margin-top: 1em;
}

.not-front.page-constructions .view-page-of-constructions .view-header h3{
    margin-top: 4em;
    color: #4F86C5;
}


.not-front.page-constructions .view-page-of-constructions .views-row{
    margin-top: 1em;
    margin-bottom: 3.5em;
}

.not-front.page-constructions .view-page-of-constructions .views-field .field-content img{
    box-shadow: 1px 1px 8px #CCC;
}

.not-front.page-constructions .view-page-of-constructions .views-field .link{
    position: relative;
}

.not-front.page-constructions .view-page-of-constructions .views-field .button{
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.not-front.page-constructions .view-page-of-constructions .views-field .field-content{
    display: inline-block;
}

.not-front.page-constructions .view-page-of-constructions .views-field.views-field-title{
    margin-top: 0.25em;
    color: #4F86C5;
}

.not-front.page-constructions .view-page-of-constructions .views-field.views-field-field-adress{
    margin-top: 0.25em;
}

.not-front.page-constructions .view-page-of-constructions .views-field.views-field-title,
.not-front.page-constructions .view-page-of-constructions .views-field.views-field-field-adress{
    font-size: 1.3em;
}


/*            Page contact        */

.not-front.section-contact h2, .not-front.section-contact h3{
    font-size: 1em;
    line-height: 1.25em;
    color: #4F86C5;
}

.not-front.section-contact h3{
    margin-top: 2em;
}

.not-front.section-contact  li{
    list-style: none;
}

.not-front.section-contact   div.text{
    width: 45%;
}

.not-front.section-contact div.map{
    float: right;
    margin-right: 2em;
}

.not-front.section-contact div.map p{
    margin-top: 0;
    color: #CCC;
    font-style: italic;
}


/* Style for Economy page*/


.page-economy #custom-form-element-demo-form div.form-item{
    margin: 0;
    display: inline;
}
/*clear*/


.page-economy .glass-sravni{
    color: #777777;
    font-size: 0.9em;
    line-height: 1em;
    background-image:  url('../images/arrow.gif');
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 25px;
    margin-left: 2em;
}

a.blink{
    background-image:  url('../images/arrow.gif');
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 25px;
}


.page-economy #custom-form-element-demo-form{
    line-height: normal;
    color: #777777;
}

.page-economy #custom-form-element-demo-form .first.title,
.page-economy #custom-form-element-demo-form .second.title,
.page-economy #custom-form-element-demo-form .third.title{
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.2em;
    margin-bottom: 1em;
    margin-top: 3em;
    background-position: bottom left;
    background-repeat: no-repeat;
    padding-left: 55px;
    margin-left: 1em;
}


.page-economy #custom-form-element-demo-form .first.title span,
.page-economy #custom-form-element-demo-form .second.title span,
.page-economy #custom-form-element-demo-form .third.title span{
    color: #ffb547;
}

.page-economy #custom-form-element-demo-form .first.title{
    background-image: url("../images/one.png");
}

.page-economy #custom-form-element-demo-form .second.title{
    background-image: url("../images/two.png");
    border-top: 46px solid #fff7ec;
    margin-right: 2em;
    padding-top: 4em;
}

.page-economy #custom-form-element-demo-form .third.title{
    background-image: url("../images/three.png");
    margin-bottom: 3em;
    border-top: 46px solid #fff7ec;
    margin-right: 2em;
    padding-top: 2.5em;
    margin-top: 1em;
}

.page-economy #content{
    margin-left: 1em;
}

.page-economy #content sup.star{
    color: red;
}

.region-basic-data,
.region-calculate-data,
.graph_region
{
    overflow: hidden;
    margin-top: 1.5em;
}

#basic_data{
    width: 570px;
    height: 400px;
    float: left;
}



#basic_data h2{
    color: #777777;
    margin-bottom: 0.5em;
    font-size: 1.1em;
    margin-left: 2em;
}

#basic_data p{
    color: #777777;
    font-style: italic;
    line-height: 1.1em;
    margin-bottom: 0.5em;
    font-size: 0.7em;
    width: 80%;
    margin-left: 2em;
}

#basic_data .value-box{
    width: 563px;
    height: 320px;
    border: dashed thin #f6935e;
    border-radius: 18px;
}

#basic_data .value-box table{
    margin-left: 2em;
}

#basic_data .value-box table tbody{
    border: none;
    font-size: 0.9em;
    line-height: 1.1em;
}

#basic_data .value-box table tbody tr.header td{
    padding-bottom: 1em;
    border-bottom: thin dashed #F6935E;
}

#basic_data .value-box table tbody input,
#basic_data .value-box table tbody select,
.region-calculate-data .value-box table tbody input
{
    border: thin solid #F6935E;
	min-width: 50px;
}

.form-item-type #edit-type{
    width: 110px;
}

#basic_data .value-box table tbody .col1{
    width: 250px;
}
#basic_data .value-box table tbody .col2{
    width: 250px;
}

#basic_data .value-box table tbody .bottom{
    border-top: thin dashed #F6935E;
}

#basic_data .value-box table tbody .middle td{
    padding-bottom: 0.5em;
}

#basic_data .value-box table tbody .middle td.text,
#basic_data .value-box table tbody .last td.text,
#basic_data .value-box table tbody .middle td.text2,
#basic_data .value-box table tbody .last td.text2
{
    text-align: right;
    padding-right: 1.25em;
}

#basic_data .value-box table tbody .first td{
    padding-top: 1.5em;
}

#basic_data .value-box table tbody .first td.text,
#basic_data .value-box table tbody .first td.text2{
    text-align: right;
    padding-right: 1.25em;
    padding-bottom: 0.5em;
}

#basic_data .value-box table tbody .last td{
    padding-bottom: 1.5em;
}

#basic_data .value-box table tbody .bottom td{
    padding-top: 1em;
}

#map{
    float: left;
    font-size: 0.8em;
    padding-top: 5px;
    padding-right:20px;
    text-align: right;
}

#map h2{
    font-size: 1.2em;
    font-weight: normal;
    margin-bottom: 0em;
    color: #a2a2a2;
}

#map img{
    width: 80%;    
}

#map img#map_to_show.hide{
    display: none;  
}



.calculate-data{
    line-height: 1.3em;
    margin-top: 4em;
}


#compare_1, #compare_2{
    width: 435px;
    float: left;
    margin: 1em;
}

#compare_1 .form-type-select select, #compare_2 .form-type-select select{
    border: thin solid #F6935E;
    margin-left: 2em;
    margin-bottom: 1em;
    color: #9f9f9f;
}
/*
*            REGION Calculate DAta
*/

.region-calculate-data .enter-value{
    border: dashed thin #f6935e;
    border-radius: 18px;
    padding: 1em;
}

.region-calculate-data .enter-value table{
    margin: 0;
    width: 410px;
}

.region-calculate-data .enter-value table tbody{
    border: none;
}

.region-calculate-data .enter-value table .t_header{
    font-size: 0.8em;
}

.region-calculate-data .enter-value table .t_header th{
    font-weight: normal;
    line-height: 1.1em;
    border: none;
}

.region-calculate-data .enter-value table .t_header th.one,
.region-calculate-data .enter-value table .t_header th.two{
    vertical-align: top;
    padding-bottom: 2em;
}

.region-calculate-data .enter-value table .t_header th.two{
    padding-left: 1em;
}



.region-calculate-data .enter-value table .t_header th.two span{
    display: block;
    font-size: 0.8em;
    margin-top: 0.5em;
    color: #b0b0b0;
}

.region-calculate-data .enter-value table .datarow td{
    padding-top: 0.5em;
    font-size: 0.9em;
}

.region-calculate-data .enter-value table .datarow td.columl1{
    width: 90px;
    text-align: right;
    padding-right: 1em;
}

.region-calculate-data .enter-value table .datarow td.columl2{
    text-align: left;
    width: 45px;
}

.region-calculate-data .enter-value table .datarow td.columl3{
    width: 50px;
}

.region-calculate-data .enter-value table .datarow td.columl4{
    text-align: right;
    padding-right: 0.5em;
    width: 100px;
}

.region-calculate-data .enter-value table .datarow td.columl5{
    width: 30px;
}

.region-calculate-data .enter-value table .datarow td.columl6{
    text-align: right;
    padding-right: 1em;
}

.region-calculate-data .enter-value table .datarow.last td{
    padding-bottom: 1.5em;
}

.region-calculate-data .enter-value table .pre-result{
    text-align: right;
    font-weight: bold;
}

.region-calculate-data .enter-value table td.res-title{
    font-size: 0.8em;

}

.region-calculate-data .enter-value table tbody tr.sum{
    font-weight: bold;
}

.region-calculate-data .enter-value table tbody tr.sum td{
    padding-left: 110px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.region-calculate-data .enter-value table tbody tr.soprotivl,
.region-calculate-data .enter-value table .datarow td.result
{
    border-top: thin dashed #F6935E;
}


#sum_result1, #total_soprotivl, #sum2_result1, #total_soprotiv2{
    text-align: right;
    padding-right: 0.5em;
    color: red;
    font-weight: bold;
}

.region-calculate-data .enter-value table tbody tr.soprotivl td
{
    text-align: left;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    color: #b0b0b0;
    font-size: 0.8em;
}

.region-calculate-data .post-value table{
    margin-left: 2em;
    margin-right: 1em;
}

.region-calculate-data .post-value table tbody{
    border: none;
}

.region-calculate-data .post-value td.teplo{
    width: 100px;
    vertical-align: top;
    padding-right: 1em;
    color: #b8b8b8;
}

#loss_heat_day1, #loss_heat_month1, #loss_heat_cost_day1, #loss_heat_cost_month1, #loss_gaz_heat_day1, #loss_gaz_heat_month1, #loss_gaz_heat_cost_day1, #loss_gaz_heat_cost_month1, #loss_heat_day2, 
#loss_heat_month2, #loss_heat_cost_day2, #loss_heat_cost_month2, #loss_gaz_heat_cost_day2, #loss_gaz_heat_cost_month2, #loss_gaz_heat_day2, #loss_gaz_heat_month2{
    font-size: 0.9em;
    text-align: right;
}




.region-calculate-data .post-value td.date{
    color: #b8b8b8;
}

.region-calculate-data .post-value td.electr,
.region-calculate-data .post-value td.gaz
{
    color: #343433;
    font-size: 0.8em;
    border-top: dashed thin #f6935e;
    padding-bottom: 2em;
    padding-top: 0.5em;
}

.region-calculate-data .post-value .result .date,
.region-calculate-data .post-value .result .value1,
.region-calculate-data .post-value .result .value2{
    width: 90px;
}


.graph_region .graph{
    width: 430px;
    float: left;
}

.graph_region{
    margin-left: 1em;
}

.graph_region .graph h3{
    font-weight: normal;
    color: #b8b8b8;
}

.graph_region .graph ul li{
    font-size: 0.8em;
}

.graph_region .graph p, .graph_region .resilt p{
    font-size: 0.9em;
    font-style: italic;
}

.graph_region .resilt{
    width: 400px;
    float: right;
    color: #777777;
    margin-right: 2.5em;

}

.graph_region .resilt table{
    margin-top:-12.5px; 
}

.graph_region .resilt tbody{
    border: 0;
}
.graph_region .resilt tbody td.header{
    width: 150px;
    color: #ffb547;
    font-weight: bold;
    padding-bottom: 0.5em;
    line-height: 1.2em;
    margin-top: 0;
}

.graph_region .resilt tbody td.elektr,
.graph_region .resilt tbody td.gaz,
.graph_region .resilt tbody td.komb-otopl{
    width: 80px;
}

.graph_region .resilt tbody tr.line{
    height: 30px;
}

.graph_region .resilt tbody tr.pr_line{
    text-align: right;
}

.graph_region .resilt tbody tr.line td{
    padding-top: 0.75em;
}

.graph_region .resilt tbody tr.pr_line{
    height: 40px;
    border-top: dashed thin #f6935e;
    border-bottom: dashed thin #f6935e;
}

.graph_region .resilt .eco_result{
    text-align: right;
    padding-right: 1em;
}

.graph_region #placeholder{
    width: 350px;
    height: 250px;
}

.graph_region li{
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 2em;
}

.graph_region .electr-line{
    background-image: url('../images/elektr.png');
}

.graph_region .gaz-line{
    background-image: url('../images/gaz.png');
}

.graph_region .comb-line{
    background-image: url('../images/comb.png');
}

.custom_breadcrumbs a{
    font-size: 1.3em;
    color: #98b4d9;
    text-decoration: none;
}


/*
* Technical button
*/

#enter-tech-data-form #edit-submit{
    padding: 0.5em;
    border-radius: 4px;
    background-color: #4f86c5;
    border: none;
    color: white;
}

#enter-tech-data-form label{
    margin-bottom: 0.25em;
}

.node-type-construction-full-view .region-postfooter, .page-constructions .region-postfooter{
    height: 120px;
}

.dealer-links{
    float: right;
    margin-right: 60px;
    margin-top: 8px;
}

.dealer-links{
    float: right;
    margin-right: 60px;
    margin-top: 8px;
}

.dealer-links a{
    margin-right: 25px;
    padding-left: 23px;
    color: #4F86C5;
    background-repeat: no-repeat;
 }

 .dealer-links a.user-button{
    background-image: url('../images/user_icon.png');
 }

 .dealer-links a.registration-button{
    background-image: url('../images/reg_icon.png');
 }

#order-manager-settings #edit-server-info{
    padding: 1em;
    border-radius: 9px;
    margin-bottom: 1em;
}

#order-manager-settings .form-submit{
    padding: 0.5em;
    border-radius: 6px;
}

.check-block{
    margin-top: 5px;
}

.check-block a{
    background-image: url('../images/refresh.png');
    background-repeat: no-repeat;
    padding-left: 25px;
    line-height: 25px;
    padding-bottom: 5px;
    
}

/*      User page     */
 #block-order-access-dealer-order-check table{
    width: 100%;
 }

  #block-order-access-dealer-order-check table td{
    padding: 1em;
    border: thin solid #CCC;
 }

  #block-order-access-dealer-order-check table tr:first-child{
        background-color: #DDD;
   }

  #block-order-access-dealer-order-check tr:first-child a{
    text-decoration: none;
    color: #000;
    cursor: inherit;
  }

  .user-controll-bar{
        text-align: right;
  }

  .user-controll-bar a{
    display: inline-block;
    font-size: 1.5em;
    color: #000;
    text-decoration: none;
    background-image: url('../images/exit.png');
    background-repeat: no-repeat;
    background-position: left middle;
    height: 30px;
    padding-left: 40px;
    line-height: 30px;
  }

  #block-locale-language{
    
  }

  #block-locale-language img{
    border: thin solid #000;
  }